# Particle Network dashboard.particle.network -> project -> Web app
NEXT_PUBLIC_PARTICLE_PROJECT_ID=""
NEXT_PUBLIC_PARTICLE_CLIENT_KEY=""
NEXT_PUBLIC_PARTICLE_APP_ID=""

# Privy dashboard.privy.io -> app -> Settings -> Basics
NEXT_PUBLIC_PRIVY_APP_ID=""
NEXT_PUBLIC_PRIVY_CLIENT_ID=""
